.cards-holder {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    margin: 25px;
}

.card-image {
    position: relative;
    object-fit: cover;
    z-index: 1;
    width: 170px;
}

.card-image img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.card-image:hover img{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform-origin: center;
}

.obvodka {
    position: relative;
    object-fit: cover;
    z-index: 2;
    margin-top: -220px;
    margin-left: -10px;
    pointer-events: none;
}

.card-desc {
    position: absolute;
    width: 100%;
    margin: auto;
    object-fit: cover;
    z-index: 3;
    text-align: center;
    margin-top: -50px;
    text-transform: uppercase;
    margin-left: -7px;
}

