body {
    margin: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Crect fill='black' width='10' height='10'/%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect fill='white' filter='url(%23noiseFilter)' width='10' height='10' opacity='.1'/%3E%3C/svg%3E");
}

.line {
    height: 5px;
    margin: 0;
    border: none;
    background-color: rgb(226, 64, 64);
}

html {
    scroll-behavior: smooth;
}
