@font-face {
	color:white;
	text-decoration: none;
	font-family: 'gothampro';
	font-style: normal;
	font-weight: normal;
	src: local('gothampro'),
		url('../font/gothampro.ttf') format('ttf'),
		url('../font/gothampro.woff') format('woff'),
		url('../font/gothampro.eot') format('eot'),
		url('../font/gothampro.otf') format('otf'),
		url('../font/gothampro.svg') format('svg'),
}

.text-1 {
	color:white;
	text-decoration: none;
	font-family: 'gothampro';
}

@font-face {
	color:white;
	text-decoration: none;
	font-family: 'ChunkFive';
	font-style: normal;
	font-weight: normal;
	src: local('ChunkFive'),
		url('../font/ChunkFive.ttf') format('ttf'),
		url('../font/ChunkFive.woff') format('woff'),
		url('../font/ChunkFive.eot') format('eot'),
		url('../font/ChunkFive.otf') format('otf'),
		url('../font/ChunkFive.svg') format('svg'),
}

.text-4 {
	color:white;
	text-decoration: none;
	font-family: 'ChunkFive';
	font-weight: normal;
	font-style: normal;    
}

@font-face {
	color:white;
	text-decoration: none;
	font-family: 'Heyam';
	font-style: normal;
	font-weight: normal;
	src: local('Heyam'),
	url('../font/Heyam.ttf') format('ttf'),
	url('../font/Heyam.woff') format('woff'),
	url('../font/Heyam.eot') format('eot'),
	url('../font/Heyam.otf') format('otf'),
	url('../font/Heyam.svg') format('svg'),
}
    
.text-5 {
	color:white;
	text-decoration: none;
	font-family: 'Heyam';
	font-weight: normal;
	font-style: normal;    
}

@font-face {
	color:white;
	text-decoration: none;
	font-family: 'Pop';
	font-style: normal;
	font-weight: normal;
	src: local('PopRumKiwi-Telop'),
	url('/font/Pop.ttf') format('ttf'),
	url('/font/Pop.woff') format('woff'),
	url('/font/Pop.eot') format('eot'),
	url('/font/Pop.otf') format('otf'),
	url('/font/Pop.svg') format('svg'),
}

.text-6 {
	color:white;
	text-decoration: none;
	font-family: 'Pop';
	font-weight: normal;
	font-style: normal;    
}