.header {
    background-image: url(../img/header/bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-line {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    margin-left: 30px;
    gap: 30px;
    display: flex;
}

.katalog {
    font-family: "gothampro";
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
}

.onas {
    font-family: "gothampro";
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
}

.loopa {
    border-radius: 50%;
    transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user {
    border-radius: 50%;
    transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bag {
    border-radius: 50%;
    transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.loopa:hover {
    background-color: rgb(247, 67, 67);
}

.user:hover {
    background-color: rgb(247, 67, 67);
}

.bag:hover {
    background-color: rgb(247, 67, 67);
}

.katalog:hover {
    color: rgb(247, 67, 67);
}

.onas:hover {
    color: rgb(247, 67, 67);
}

.header-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.pravo {
    margin-right: 30px;
    gap: 30px;
    display: flex;
}

.text-header {
    max-width: 100%;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-header1 {
    color: transparent;
    font-size: 100px;
    text-decoration: none;
    font-family: Pop;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
}

.text-header2 {
    color:white;
    font-size: 40px;
	text-decoration: none;
	font-family: ChunkFive;
    margin-bottom: 20px;
}

.img-header img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.niz {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    bottom: 50px;
    position: absolute;
}
