.niza {
    position: relative;
    background-color: rgb(170, 21, 51);
    width: 100%;
}

p {
    margin: 6px 0;
}

.niz-item {
    text-align: center;
    align-items: center;
    padding: 10px;
}


.tgvk {
    display: flex;
    gap: 15px;   
    margin-right: 20px;        
    justify-content: center; 
    align-items: center;  
}


